body {
  font-family: "Roboto", sans-serif;
  font-size: 14px; /* основной размер шрифта*/
  color: #0A143A; /* основной цвет текста*/
}

.container {
  max-width:1146px; /* максимальная ширина*/
  margin: auto; /* автоматическое выравнивание по середине*/
}
.header {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 12px;
}.navbar{
  display: flex; /* делаем гибкий блок*/
  align-items: center; /* выравниваем по вертикали по центру*/
  justify-content: space-between; /* разбросать элементы по краям*/
  margin-bottom: 24px;
}

.navbar-panel {
  flex-grow: 1; /* растянуть по ширине*/
  display: flex; /* сделать гибким*/
  align-items: center; /* выровнять по середине*/
}
/* меню в шапке */
.navbar-menu{
  margin-right: auto; /* автоматический отступ справа*/
}
.menu {
  list-style: none; /* убираем маркеры*/
  margin: 0; /* убираем отступы*/
  padding-left:22px; /* внутренний отсуп слева*/
  padding-right:22px; /* внутренний отсуп справа*/
  display: flex;
}
/* Для всех пунктов меню кроме последнего */
.menu-item:not(:last-child) {
  margin-right: 14px; /* внутренний отсуп справа*/
}
.menu-link {
  color: inherit; /* основной цвет текста как уродителя body*/
  text-decoration: none; /* убираем подчеркивание*/
}
.button {
  text-decoration: none;
  display: inline-block;
  color: #fff; /* цвет текста кнопки*/
  padding: 10px 15px; /* сверху и снизу 10px слева и справа 15px*/
}
.button-link {
  color:inherit;
}
.button-primary {
  background: #256eeb; /* фон */
  border-radius: 5px; /* скругление углов*/
  color: white;
}
.search-panel {
  height: 50px; /* высота поля поиска*/
  background: #256eeb;
  border-radius: 5px;
  display: flex;
  padding: 3px;
}
.search-input {
 flex-grow: 1; /* Растягивается на все свободное место*/
 background-color: white;
 border-radius: 5px;
 border: none; /* удаляем рамку*/
 padding-left: 22px;
 padding-right: 22px;
}
.search-button {
  background: #256eeb;
  border: none;
  color: white;
  padding-left: 20px;
  padding-right: 17px;
  display: flex;
  align-items: center;
}
.search-button-text {
  margin-left: 5px;
}
.page-content {
  display: grid;
  grid-template-columns: 9fr 3fr;
  grid-column-gap: 10px;
}

.card-image {
  border-radius: 10px;
  width: 264px;
  height: 178px;
  object-fit: cover;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 20px;
  margin-right: 15px;
}


.card-title {
  font-size: 16px;
  line-height: 19px;
  color: #256eeb;
  margin-top: 12px;
  margin-bottom: 5px;
  max-width: 225px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-link {
  text-decoration: none;
}
.like {
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 15px;
}
.card-price {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
  display: block;
}
.card-text {
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
  margin-bottom: 4px;
  margin-top: 0;
}
.sidebar .page-title {
  font-size: 18px;
  line-height: 21px;
}
.service {
  margin-bottom: 25px;
}

.service-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-top: 7px;
  margin-bottom: 5px;
}

.service-text {
  font-size: 14px;
  line-height: 16px;
  max-width: 217px;
}

.footer-text {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color:#c4c4c4;
  margin-bottom: 5px;
}

.footer-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 16px;
}

.footer-link {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}

.main-single {
  display: flex;
  align-items: flex-start;
}
.content {
  max-width: 460px;
  margin-right: 30px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  width: 100%;
  border-radius: 10px;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
  border-radius: 10px;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.content-text {
  font-size: 14px;
  line-height: 140%;
}

.single-price {
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 25px;
  display: block;
}

.page-title {
  margin-top: 0;
  margin-bottom: 25px;
}

.author {
  min-width: 264px;
}
.author-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 30px;
}

.author-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.author-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: block;
  margin-bottom: 4px;
}

.rating {
  margin-bottom: 5px;
}

.rating-counter {
  margin-left: 10px;
  opacity: 0.5;
}

.author-status {
  font-size: 12px;
  line-height: 14px;
}

.button-block {
  display: block;
  width: 100%;
  height: 54px;
  margin-bottom: 14px;
  border: none;
}

.button-success {
  background-color: #14b4be;
  border-radius: 5px;
  color: #fff;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .card {
    width: 45%;
  }

  .card-image {
    width: 100%;
    height: 200px;
  }

}

.menu-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  display: none;
}

.close-menu {
  display: none;  
}

@media (max-width: 992px) {
  .container {
    max-width: 740px;
  }
  .card-image {
    height: 150px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 560px;
  }
  .card {
    width: 100%;
  }
  .page-content {
    grid-template-columns: 8fr 4fr;
  }
  .menu-button {
    display: block;
  }
  .close-menu {
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    background-color: white;
    border: none;
  }
  .navbar-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9;
    flex-direction: column; /* выстроить дочерние элементы в столбец*/
    align-items: center;
    justify-content: center;
    transition: transform 0.2s opacity 0.2s;
    transform: translateX(100%); /* уберем меню в сторону, его не будет видно*/
    opacity: 0;
  }
  .is-open {
    transform: translateX(0);
    opacity: 1;
  }
  .navbar-menu {
    margin-left: auto;
    margin-bottom: 20px;
  }
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .button-group {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
  .page-content {
    grid-template-columns: 12fr;
  }
  .card-image {
    height: 250px;
  }
  .card {
    margin-right: 0;
  }
  .search-button-text {
    display: none;
  }
}